{% extends "base.html" %}
{% load bootstrap4 %}
{% block body %}
<main class="mt-5">
    <div class="container mynav">
          <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
            <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <h1>Change Password</h1>
                    </div>
                    <div class="signin">
                        <form method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}

                                <input type="submit" class="btn btn-primary" value="Change Password">

                        </form> 
                    </div>
                </div>
          </div>
              <div class="col-4"></div>
          </div>

    </div>
</main>
{% endblock body %}