{% extends "base.html" %}
{% load bootstrap4 %}
{% block body %}
<main class="mt-5">
    <div class="container mynav">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</main>
{% endblock body %}